.container-toolbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #37d4ed;
  padding: 10px;
}
.container-toolbar img {
  width: 30px;
  height: 30px;
}
