.card-mantenance {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .card-mantenance {
    width: 100%;
  }
}
