.carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.6s ease-in-out;
  gap: 5px; /* Mantiene la separación de 5px entre imágenes */
}

.carousel-item {
  flex: 0 0 50%;
  aspect-ratio: 1/1; /* Mantiene la proporción cuadrada */
}

button.prev-button,
button.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prev-button {
  left: 5px;
}

.next-button {
  right: 5px;
}
