.carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.6s ease-in-out;
  gap: 5px;
}

.carousel-item {
  flex: 0 0 50%;
  aspect-ratio: 1/1;
}
